<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.9.1.custom.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui-1.9.1.custom.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class='brand'>Dota2 BBQ</a>
            <ul class='nav'>
                <li><a href="/">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/heroes">Heroes</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/items">Items</a></li>
                <li class="divider-vertical"></li>
                <li><a href="" id="isEditable">Edit</a></li>
            </ul>
        </div>
    </nav>
</header>

<div id="content">
    {% block content %}{% endblock %}
</div>


</body>
</html>