<!DOCTYPE html>
<html>
	<body>
		<form id="input" method="post">
			<label>Hero Name</label>
			<input name="Name" value="{{Name}}" id='hero_name' readonly><br>
			<label>Faction</label>
			<select id="Faction_Select" name='Faction' data-select='{{Faction}}'>
				<option value="0" >Radiant</option>
				<option value="1">Dire</option>
			</select>
			<br>
			<label>Primary Attribute</label>
			<select id="PrimaryAttr_Select" name="Class" data-select='{{Class}}'>
				<option value="0">Strength</option>
				<option value="1">Agility</option>
				<option value="2">Intelligence</option>
			</select>
			<br>
			<label>Lore</label>
			<textarea name="Lore" rows="10" cols="100">{{Lore}}</textarea>
			<br>
			<label>Basic Strength</label>
			<input name="BasicStr" value="{{BasicStr}}"><br>
			<label>Basic Agility</label>
			<input name="BasicAgi" value="{{BasicAgi}}"><br>
			<label>Basic Intelligence</label>
			<input name="BasicInt" value="{{BasicInt}}"><br>
			<label>Strength Increase</label>
			<input name="StrInc" value="{{StrInc}}"><br>
			<label>Agility Increase</label>
			<input name="AgiInc" value="{{AgiInc}}"><br>
			<label>Intelligence Increase</label>
			<input name="IntInc" value="{{IntInc}}"><br>
			<label>Movement</label>
			<input name="Movement" value="{{Movement}}"><br>
			<label>Armor</label>
			<input name="Armor" value="{{Armor}}"><br>
			<label>Minimum Damage</label>
			<input name="MinDamage" value="{{MinDamage}}"><br>
			<label>Maximum Damage</label>
			<input name="MaxDamage" value="{{MaxDamage}}"><br>
			<input name="IsNew" type="hidden" value="{{IsNew}}">
			<input type="submit" value='update stats of this hero'>
		</form>

		<div id="skill_slots">
			{% for skill in Skills %}
			<fieldset>
				<label>Skill Number: </label>
				<input class='skill_number' value='{{skill.Number}}'>
				<br>
				<label>Skill Name: </label>
				<input class='skill_name' value='{{skill.SkillName}}'>
				<br>
				<label>Skill Description: </label>
				<textarea cols='80' rows='4' class='skill_desc'>{{skill.Description}}</textarea>
				<br>
				<label>Skill Type: </label>
				<input class='skill_type' type='checkbox' {% if skill.Type %}checked{% endif %}> Is Active?
				<br>
				<label>Skill Manacost: </label>
				<input class='skill_manacost' value='{{skill.ManaCost}}'>
				<br>
				<label>Skill Cooldown: </label>
				<input class='skill_cooldown' value='{{skill.Cooldown}}'>
				<br>
				<button class='update_skill'>Update this skill</button>
				<button class='delete_skill'>Delete this skill</button>
			</fieldset>
			{% endfor %}
		</div>

		
		<form onsubmit='return false;'>
			<fieldset>
				<label>Skill Number: </label>
				<input class='skill_number' required>
				<br>
				<label>Skill Name: </label>
				<input class='skill_name'>
				<br>
				<label>Skill Description: </label>
				<textarea cols='80' rows='4' class='skill_desc'></textarea>
				<br>
				<label>Skill Type: </label>
				<input class='skill_type' type='checkbox'> Is Active?
				<br>
				<label>Skill Manacost: </label>
				<input class='skill_manacost'>
				<br>
				<label>Skill Cooldown: </label>
				<input class='skill_cooldown'>
				<br>
				<button id='create_skill'>Add another skill for this hero</button>
			</fieldset>
		</form>

		<button id='close_btn'>Close</button>

		<script src="/static/js/jquery-1.8.3.min.js"></script>
		<script src="/static/js/hero_edit.js"></script>
	</body>
</html>