{% extends "base.html" %}
{% block title%}{{Name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="hero_basic row">
            <div class="hero_card span4">
                <table>
                    <tr><td colspan="2" class="hero_name" id="hero_name">{{Name}}</td></tr>
                    <tr><td colspan="2"> <img src="../static/images/{{Name}}.png" style="width: 256px; height: 144px;"></td></tr>
                    <tr>
                        <td>Faction</td>
                        <td><span class="hero_fac">{{Faction}}</span></td>
                    </tr>
                    <tr>
                        <td>Primary Attribute</td>
                        <td><span class="hero_prim">{{Class}}</span></td>
                    </tr>
                </table>
                <table class="stat_table">
                    <tr class="hero_attr">
                        <td><img src="../static/images/33px-Icon_Str.png" width="33" height="33" title="Strength"></td>
                        <td><img src="../static/images/33px-Icon_Agi.png" width="33" height="33" title="Agility"></td>
                        <td><img src="../static/images/33px-Icon_Int.png" width="33" height="33" title="Intelligence"></td>
                    </tr>
                    <tr>
                        <td id="hero_str">{{BasicStr}} + {{StrInc}}</td>
                        <td id="hero_agi">{{BasicAgi}} + {{AgiInc}}</td>
                        <td id="hero_int">{{BasicInt}} + {{IntInc}}</td>
                    </tr>
                    <tr class="hero_attr">
                        <td><img src="../static/images/33px-Icon_Dmg.png" width="46" height="35" title="Damage"></td>
                        <td><img src="../static/images/33px-Icon_Armor.png" width="39" height="37" title="Armor"></td>
                        <td><img src="../static/images/33px-Icon_Mov.png" width="63" height="39" title="Movement"></td>
                    </tr>
                    <tr>
                        <td id="hero_dmg">{{MinDamage}} ~ {{MaxDamage}}</td>
                        <td id="hero_armor">{{Armor}}</td>
                        <td>{{Movement}}</td>
                    </tr>
                </table>
            </div>
            <div class="hero_lore span7 offset1">
                <h2>Lore</h2>
                <p id='hero_lore_para'>{{Lore}}</p>
            </div>

        </div>

        <div class="hero_skills">
            <div id="skill_tabs">
                <ul>
                    {% for skill in skills %}
                        <li><a href='#skill{{skill.Number}}'>{{skill.SkillName}}</a></li>
                    {% endfor %}
                </ul>
                {% for skill in skills %}
                    <div id='skill{{skill.Number}}' class='skill'
                    data-hero='{{skill.HeroName}}' data-skill='{{skill.SkillName}}' data-index='{{skill.Number}}'>
                        <p>{{skill.Description}}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

<div class="modal hide fade" id="hero_full_story">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Full Hero Story</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/hero.js"></script>
{% endblock %}