{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block content %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Reminder!</strong> Hover over items to see the details.
</div>
	<div class="items">
		<div class="item_headers">
			<span class="item_header">Consumables</span>
			<span class="item_header">Attributes</span>
			<span class="item_header">Armaments</span>
			<span class="item_header">Arcane</span>
			<span class="item_header">Common</span>
			<span class="item_header">Support</span>
			<span class="item_header">Caster</span>
			<span class="item_header">Weapons</span>
			<span class="item_header">Armor</span>
			<span class="item_header">Artifacts</span>
			<span class="item_header">Secret Shop</span>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Clarity.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Tango.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Healing Salve.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Smoke of Deceit.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Town Portal Scroll.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Dust of Appearance.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Animal Courier.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Flying Courier.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Observer Ward.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Sentry Ward.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Bottle.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Iron Branch.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Gauntlets of Strength.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Slippers of Agility.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mantle of Intelligence.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Circlet.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Belt of Strength.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Band of Elvenskin.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Robe of the Magi.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ogre Club.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Blade of Alacrity.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Staff of Wizardry.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ultimate Orb.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Ring of Protection.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Quelling Blade.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Stout Shield.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Blades of Attack.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Chainmail.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Helm of Iron Will.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Broadsword.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Quarterstaff.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Claymore.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Javelin.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Platemail.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mithril Hammer.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Magic Stick.png" Width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Sage's Mask.png" Width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ring of Regen.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Boots of Speed.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Gloves of Haste.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Cloak.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Gem of True Sight.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Morbid Mask.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ghost Scepter.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Talisman of Evasion.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Blink Dagger.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Shadow Amulet.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Wraith Band.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Null Talisman.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Magic Wand.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Bracer.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Poor Man's Shield.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Soul Ring.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Phase Boots.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Power Treads.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Oblivion Staff.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Perseverance.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Hand of Midas.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Boots of Travel.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Ring of Basilius.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Headdress.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Buckler.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Urn of Shadows.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ring of Aquila.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Tranquil Boots.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Medallion of Courage.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Arcane Boots.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Drum of Endurance.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Vladmir's Offering.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mekansm.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Pipe of Insight.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Force Staff.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Necronomicon.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Eul's Scepter of Divinity.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Dagon.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Veil of Discord.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Rod Of Atos.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Aghanim's Scepter.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Orchid Malevolence.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Refresher Orb.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Scythe of Vyse.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Crystalys.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Armlet of Mordiggian.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Skull Basher.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Shadow Blade.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Battle Fury.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ethereal Blade.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Radiance.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Monkey King Bar.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Daedalus.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Butterfly.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Divine Rapier.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Abyssal Blade.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Hood of Defiance.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Blade Mail.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Vanguard.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Soul Booster.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Black King Bar.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Shiva's Guard.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Manta Style.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Bloodstone.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Linken's Sphere.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Assault Cuirass.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Heart of Tarrasque.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Helm of The Dominator.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mask of Madness.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Sange.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Yasha.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Maelstrom.png" Width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Diffusal Blade.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Desolator.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Heaven's Halberd.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Sange And Yasha.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mjollnir.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Eye of Skadi.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Satanic.png" width="85px" height="64px" title></div>
		</div>
		<div class="items_column">
			<div class="item"><img src="/static/images/items/Demon Edge.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Eaglesong.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Reaver.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Sacred Relic.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Hyperstone.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Ring of Health.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Void Stone.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Mystic Staff.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Energy Booster.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Point Booster.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Vitality Booster.png" width="85px" height="64px" title></div>
			<div class="item"><img src="/static/images/items/Orb of Venom.png" width="85px" height="64px" title></div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="/static/js/items.js"></script>
{% endblock %}